
body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 50px auto;
}

/*STYLING FOR NETFLIX BUTTON*/
.n-btn{
    background-color: firebrick;
    border: 10px;
    border-radius: 20px;
    padding: 40px 100px;
    min-height: 30px;
    min-width: 130px;
}

.n-btn:hover {
    background-color: darkred;
    transition: 0.7s;
    border: 10px;
    border-radius: 20px;
}

.n-btn:focus {
    outline-color: transparent;
    outline-style: solid;
    transition: 0.7s;
}

.n-btn:active{
    background-color: rgb(93, 20, 20);
}

/*STYLING FOR AHA BUTTON*/

.a-btn{
    background-color: rgb(255, 110, 0);
    border: 10px;
    border-radius: 20px;
    padding: 40px 100px;
    min-height: 30px;
    min-width: 130px;
}

.a-btn:hover{
    background-color: rgb(186, 80, 0);
    transition: 0.7s;
    border: 10px;
    border-radius: 20px;
}

.a-btn:focus {
    outline-color: transparent;
    outline-style: solid;
    transition: 0.7s;
}

.a-btn:active{
    background-color: rgb(131, 60, 0);
}

/*STYLING FOR AHA BUTTON*/

.ap-btn{
    background-color: black;
    border: 10px;
    border-radius: 20px;
    padding: 40px 100px;
    min-height: 30px;
    min-width: 130px;
}

.ap-btn:hover{
    background-color: black;
    transition: 0.7s;
    border: 10px;
    border-radius: 20px;
}

.ap-btn:focus {
    outline-color: transparent;
    outline-style: solid;
    transition: 0.7s;
}

.ap-btn:active{
    background-color: black;
}





