
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif ;
}

.hero{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(184, 170, 238, 0.3), rgba(184, 170, 238, 0.3));
    position: relative;
    padding: 0 5%;
    display: flex;
    align-items: center;
    justify-content: center;
}

nav{
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    padding: 20px 8%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav .logo{
    width: 80px;
}

nav ul li{
    list-style: none;
    display: inline-block;
    margin-left: 40px;
}

nav ul li a{
    text-decoration: none;
    color: white;
    font-size: 20px;
}

body ul li{
    list-style: none;
    display: inline-block;
    margin-left: 100px;
}

.back-video{
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -1;
}

/*STYLING FOR NETFLIX BUTTON*/
.n-btn{
    background-color: firebrick;
    border: 10px;
    border-radius: 20px;
    padding: 40px 100px;
    min-height: 30px;
    min-width: 130px;
}

.n-btn:hover {
    background-color: darkred;
    transition: 0.7s;
    border: 10px;
    border-radius: 20px;
}

.n-btn:focus {
    outline-color: transparent;
    outline-style: solid;
    transition: 0.7s;
}

.n-btn:active{
    background-color: rgb(93, 20, 20);
}

/*STYLING FOR AHA BUTTON*/

.a-btn{
    background-color: rgb(255, 110, 0);
    border: 10px;
    border-radius: 20px;
    padding: 40px 100px;
    min-height: 30px;
    min-width: 130px;
}

.a-btn:hover{
    background-color: rgb(186, 80, 0);
    transition: 0.7s;
    border: 10px;
    border-radius: 20px;
}

.a-btn:focus {
    outline-color: transparent;
    outline-style: solid;
    transition: 0.7s;
}

.a-btn:active{
    background-color: rgb(131, 60, 0);
}

/*STYLING FOR AHA BUTTON*/

.ap-btn{
    background-color: black;
    border: 10px;
    border-radius: 20px;
    padding: 40px 100px;
    min-height: 30px;
    min-width: 130px;
}

.ap-btn:hover{
    background-color: black;
    transition: 0.7s;
    border: 10px;
    border-radius: 20px;
}

.ap-btn:focus {
    outline-color: transparent;
    outline-style: solid;
    transition: 0.7s;
}

.ap-btn:active{
    background-color: black;
}





